__pycache__/
.tox/
*.egg-info/
/build/
/dist/
/.idea/

# archlinux pkg files
/pkg/
*.pkg.tar*

# debian pkg files
/.pybuild/
/debian/tmp/
/debian/*substvars
/debian/files
/debian/python3-onkyrimote/
/debian/*debhelper*
